@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
.nav_desktop {
  display: none;
}

.nav_mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  padding: 1rem;
  background: white;
}

.nav_mobile .nav_mobile__logo {
  width: 8rem;
}

.nav_mobile .nav_mobile__menu {
  width: 2rem;
}

@media only screen and (min-width: 1200px) {
  .nav_mobile {
    display: none;
  }
  .nav_desktop {
    display: block;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 2;
  }
  .nav_desktop__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: white;
    -webkit-box-shadow: 0px 0px 10px #9698a6;
            box-shadow: 0px 0px 10px #9698a6;
    padding: 1rem 11rem;
  }
  .nav_desktop__main .nav_desktop__logo {
    width: 8rem;
  }
  .nav_desktop__main .nav_desktop__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
    -webkit-box-align: none;
        -ms-flex-align: none;
            align-items: none;
    gap: 2.5rem;
    list-style-type: none;
  }
  .nav_desktop__main .nav_desktop__link li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    height: 100%;
  }
  .nav_desktop__main .nav_desktop__link li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    color: #9698a6;
    width: 100%;
    position: relative;
  }
  .nav_desktop__main .nav_desktop__link li a::after {
    display: none;
    content: " ";
    position: absolute;
    height: 0.2rem;
    width: inherit;
    background: #31d35c;
    top: 230%;
    -webkit-transition: all 100ms;
    transition: all 100ms;
  }
  .nav_desktop__main .nav_desktop__link li a:hover::after {
    display: block;
  }
  .nav_desktop__main .nav_desktop__button {
    padding: 0.8rem 1.8rem;
    font-size: 0.8rem;
  }
}

.div_first__first-image-desktop {
  display: none;
}

.div_first__second-image {
  position: absolute;
  top: -11%;
  left: 0;
}

.div_first__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  padding: 1rem 1rem 5rem 1rem;
}

.div_first__title {
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  color: #2d314d;
}

.div_first__paragraph {
  line-height: 1.5rem;
  text-align: center;
  color: #9698a6;
}

.div_first__button {
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
  color: white;
  font-size: 1.1rem;
  font-weight: 400;
  border: none;
  outline: none;
  padding: 0.8rem 2.5rem;
  border-radius: 25px;
  padding: 0.8rem 2rem;
  font-size: 0.8rem;
}

.div_first__button:hover::after {
  display: block;
}

.div_first__button::after {
  display: none;
  position: absolute;
  content: " ";
  border-radius: 25px;
  background-color: white;
  opacity: 0.3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media only screen and (min-width: 540px) {
  .div_first__details {
    width: 30em;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) {
  .div_first__first-image-desktop {
    max-height: 100vh;
  }
}

@media only screen and (min-width: 1200px) {
  body,
  html {
    overflow-x: clip;
    position: relative;
  }
  .div_first__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10rem;
    height: 90vh;
    overflow: hidden;
  }
  .div_first__img-container {
    height: 100%;
    width: 50%;
  }
  .div_first__first-image {
    display: none;
  }
  .div_first__mockup {
    left: 56%;
    top: -2%;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  .div_first__first-image-desktop {
    position: absolute;
    display: inline-block;
    width: inherit;
    left: 50%;
    right: 0;
    top: -1%;
    max-height: 100vh;
  }
  .div_first__details {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 2rem;
    padding-top: 8rem;
    width: auto;
    margin: 0;
  }
  .div_first__title {
    width: 15ch;
  }
  .div_first__paragraph {
    width: 41ch;
  }
  .div_first__title,
  .div_first__paragraph {
    text-align: left;
  }
}

@media only screen and (min-width: 1500px) {
  .div_first__mockup {
    max-width: 50vw;
  }
  .div_first__first-image-desktop {
    left: 45%;
    width: 80%;
  }
  .div_first__title {
    font-size: 3rem;
  }
  .div_first__paragraph {
    width: 41ch;
  }
}

/** 
  THIS STYLE IS MOBILE-FIRST APPROACH.
*/
.div_second__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f3f4f6;
  padding: 4rem 1rem;
  gap: 5rem;
}

.div_second__title-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.3rem;
}

.div_second__title-section * {
  text-align: center;
}

.div_second__title-section .title_section__title {
  width: 10ch;
  font-size: 2rem;
  font-weight: 400;
  color: #2d314d;
}

.div_second__title-section .title_section__paragraph {
  color: #9698a6;
  line-height: 1.5rem;
}

.div_second__infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}

.div_second__infos .infos__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.div_second__infos .infos__item * {
  text-align: center;
}

.div_second__infos .infos__item img {
  width: 4rem;
}

.div_second__infos .infos__item h1 {
  font-weight: 400;
}

.div_second__infos .infos__item p {
  line-height: 1.5rem;
  color: #9698a6;
}

@media only screen and (min-width: 540px) {
  .div_second__content * {
    width: 30rem;
  }
}

@media only screen and (min-width: 1200px) {
  .div_second__content {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 10%;
  }
  .div_second__content * {
    width: 100%;
  }
  .div_second__title-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 1.3rem;
  }
  .div_second__title-section * {
    text-align: left;
  }
  .div_second__title-section .title_section__title {
    width: auto;
  }
  .div_second__title-section p {
    width: 60ch;
  }
  .div_second__infos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .div_second__infos .infos__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 15rem;
            flex: 1 1 15rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .div_second__infos .infos__item * {
    text-align: left;
  }
  .div_second__infos .infos__item p {
    width: 24ch;
  }
}

@media only screen and (min-width: 1500px) {
  .div_second__title-section .title_section__title {
    font-size: 3rem;
  }
}

.div_third__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fafafa;
  padding: 4rem 1.5rem;
  gap: 2rem;
}

.div_third__title-section .title-section__title {
  font-size: 2rem;
  font-weight: 400;
  color: #2d314d;
}

.articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}

.articles .article {
  -webkit-box-shadow: 0px 0px 10px #f3f4f6;
          box-shadow: 0px 0px 10px #f3f4f6;
  border: 1px solid #f3f4f6;
  border-radius: 5px;
  max-height: 40em;
}

.articles .article figure img {
  border-radius: 5px 5px 0px 0px;
}

.articles .article .article-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  padding: 2rem;
  gap: 0.8rem;
}

.articles .article .article-section .article-section__author {
  font-size: 0.9rem;
  font-weight: 700;
  color: #9698a6;
}

.articles .article .article-section .article-section__title {
  font-size: 1.4rem;
  font-weight: 400;
  color: #2d314d;
}

.articles .article .article-section p {
  color: #9698a6;
}

@media only screen and (min-width: 540px) {
  .articles .article {
    max-width: 20em;
  }
}

@media only screen and (min-width: 1200px) {
  .div_third__content {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 10% 10rem;
  }
  .articles {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 5rem;
  }
  .articles .article {
    max-width: 19rem;
    width: 100%;
  }
  .articles .article figure {
    height: 13em;
  }
  .articles .article figure img {
    height: inherit;
  }
  .articles .article .article-section {
    padding: 2rem 2rem;
  }
  .articles .article .article-section p {
    width: 23ch;
  }
}

@media only screen and (min-width: 1500px) {
  .div_third__content {
    gap: 5rem;
  }
  .div_third__title-section .title-section__title {
    font-size: 3rem;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #2d314d;
  gap: 2rem;
  padding: 2rem;
}

.footer--img_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
}

.footer--img_section svg {
  display: block;
}

.footer--img_section svg .text-path {
  fill: white;
}

.footer--img_section .logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  gap: 1rem;
}

.footer--img_section .logos svg {
  cursor: pointer;
}

.footer--img_section .logos svg path {
  fill: white;
}

.footer--img_section .logos svg:hover path {
  fill: #31d35c;
  cursor: pointer;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.links .first-links,
.links .second-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.links .first-links span,
.links .second-links span {
  color: white;
  cursor: pointer;
}

.links .first-links span:hover,
.links .second-links span:hover {
  color: #31d35c;
}

.footer--cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.footer--cta .cta--button {
  font-size: 1rem;
  padding: 1em 3em;
}

.footer--cta .copyright {
  color: #9698a6;
}

@media only screen and (min-width: 1200px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
    -webkit-box-align: none;
        -ms-flex-align: none;
            align-items: none;
    padding: 5rem 11%;
    gap: 10rem;
  }
  .footer--img_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 5rem;
  }
  .links .first-links,
  .links .second-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer--cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-left: auto;
  }
  .footer--cta .cta--button {
    font-size: 0.875rem;
    padding: 1em 3em;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}

body {
  scroll-behavior: smooth;
}

body {
  background: #fafafa;
}

img {
  width: 100%;
}

button:hover {
  cursor: pointer;
}
