@import "../SCSS/partials/colors";
@import "../SCSS/partials/mixins";
@import "../SCSS/components/nav";
@import "../SCSS/partials/first";
@import "../SCSS/partials/second";
@import "../SCSS/partials/third";
@import "../SCSS/components/footer";
@import "../SCSS/components/modal";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}

body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}
body {
  background: $veryLightGray;
}
img {
  width: 100%;
}

button:hover {
  cursor: pointer;
}
