@import "../partials/mixins";

/** BY DEFAULT: The navbar for desktop screen sizes are hidden. */
.nav_desktop {
  display: none;
}

/** This is the style for the navbar for mobile screen sizes. */
.nav_mobile {
  @include displayFlex(row, space-between, center);
  box-shadow: 0px 0px 10px $lightGrayishBlue;
  background: white;
  position: fixed;
  padding: 1rem;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;

  // easybank logo
  .nav_mobile__logo {
    width: 8rem;
  }

  // easybank menu icon
  .nav_mobile__menu {
    width: 2rem;
  }
}

@media only screen and (min-width: 1200px) {
  .nav_mobile {
    display: none;
  }

  .nav_desktop {
    display: block;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 2;
  }

  .nav_desktop__main {
    @include displayFlex(row, space-between, center);
    box-shadow: 0px 0px 10px $lightGrayishBlue;
    background: white;
    padding: 1rem 11rem;

    // easybank logo
    .nav_desktop__logo {
      width: 8rem;
    }

    // ul of the navbar
    .nav_desktop__link {
      @include displayFlex(row, none, none);
      list-style-type: none;
      gap: 2.5rem;

      li {
        @include displayFlex(row, center, center);
        text-align: center;
        height: 100%;

        a {
          @include displayFlex(row, center, center);
          text-decoration: none;
          color: $grayishBlue;
          position: relative;
          width: 100%;
        }

        a::after {
          content: " ";
          background: $limeGreen;
          position: absolute;
          display: none;
          height: 0.2rem;
          width: inherit;
          top: 230%;
          transition: all 100ms;
        }

        a:hover::after {
          display: block;
        }
      }
    }

    // 'Request Invite Button'
    .nav_desktop__button {
      padding: 0.8rem 1.8rem;
      font-size: 0.8rem;
    }
  }
}
